<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Japanese</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 2006-2009, Tetsuro KURITA</string>
	<key>CFBundleGetInfoString</key>
	<string>1.1.1 copyright 2006-2009, Tetsuro KURITA</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.HelpBookOSAX</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>OSAScriptingDefinition</key>
	<string>${PRODUCT_NAME}.sdef</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>HBsushHB</key>
			<dict>
				<key>Handler</key>
				<string>showHelpBookHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Process</string>
			</dict>
			<key>HBsurgHB</key>
			<dict>
				<key>Handler</key>
				<string>registerHelpBookHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Process</string>
			</dict>
			<key>HBsuVers</key>
			<dict>
				<key>Handler</key>
				<string>versionHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
